# This files aims to statically define the minimum requirements needed to
# bootstrap a Kubernetes cluster in any environment where SSH access and
# passwordless sudo control of the target hosts is possible.
#
# It is expected that this file will be generated ahead of bootstrapping using
# whatever means are most applicable for the target environment. For an example
# of generating a settings file with Terraform, see the `hack` folder.

# Used in places where a top level name for the cluster is helpful for clarity.
export KWM_CLUSTER_NAME=kubernetes

# The domain used for the cluster.
# TODO: describe in more detail
export KWM_CLUSTER_DOMAIN=aevitas.io

# The network used by all Pods. Configures a network bridge on each Node for
# for communication into Pods. Also used by kubelet, kube-controller-manager
# and kube-proxy (not sure specifically what for).
export KWM_POD_CIDR=10.200.0.0/16

# The network used by all Services.
# Used by kube-controller and kube-apiserver (not sure specifically what for).
export KWM_SERVICE_CIDR=10.32.0.0/24

# The IP used for kubernetes.default.svc.cluster.local
export KWM_KUBERNETES_SERVICE_IP=10.32.0.1

# User with passwordless sudo access to the servers being bootstrapped. During
# setup it is assumed that you have ssh-agent running with the private key for
# the specified user loaded (or that the private key is already available in a
# default location (e.g. ``~/ssh/id_rsa`)).
# To validate, run the following:
# `ssh username@ip_of_host sudo -n uname -r`
# The response should *not* indicate that a password is required.
export KWM_SSH_USER=ubuntu

# The hostnames of your controllers. The bootstrap script will ensure these are
# actually set, and that the needed self-referential entries are present in
# /etc/hosts (this may be redundant for some environments).
export KWM_CONTROLLER_NAMES=controller0,controller1,controller2

# A comma delimited list of IPs for SSH access to each controller host during
# bootstrapping. This will likely be the same as the public IP for cloud
# providers.
export KWM_CONTROLLER_SSH_IPS=52.87.233.217,52.91.161.141,35.153.208.49

# A comma delimited list of private IPs for each controller host. Used by
# kube-apiserver as the IP to listen on.
export KWM_CONTROLLER_PRIVATE_IPS=10.100.0.10,10.100.1.10,10.100.2.10

# The hostnames of your etcd members. The bootstrap script ensures these are
# actually set and that the needed self-referential entries are present in
# /etc/hosts (this may be redundant for some environments).
# Used by etcd for pre-defining each cluster member during bootstrapping.
export KWM_ETCD_NAMES=etcd0,etcd1,etcd2

# A comma delimited list of IPs for SSH access to each etcd host during
# bootstrapping. This will likely be the same as the public IP for cloud
# providers.
export KWM_ETCD_SSH_IPS=52.87.234.217,52.92.161.141,35.154.208.49

# A comma delimited list of private IPs for etcd host. Used by etcd as the IP
# to listen on.
export KWM_ETCD_PRIVATE_IPS=10.100.0.15,10.100.1.15,10.100.2.15

# The hostnames of your worker nodes. The bootstrap script ensures these are
# actually set and that the needed self-referential entries are present in
# /etc/hosts (this may be redundant for some environments).
# Used in TLS certificate as subjectAltName and organization name to facilitate
# secure registration with the cluster.
export KWM_NODE_NAMES=node-0,node-1,node-2

# A comma delimited list of IPs for SSH access to each node host during
# bootstrapping. This will likely be the same as the public IP for cloud
# providers.
# TODO: describe in more detail the usage.
export KWM_NODE_SSH_IPS=54.91.188.135,204.236.201.146,54.164.73.251

# A comma delimited list of private IPs for worker nodes.
# TODO: describe in more detail the usage.
export KWM_NODE_PRIVATE_IPS=10.100.0.222,10.100.1.121,10.100.2.49

export KWM_VERSION_ETCD=3.2.11
export KWM_VERSION_KUBERNETES=1.8.5
export KWM_VERSION_CNI_PLUGIN=0.6.0
export KWM_VERSION_CRI_CONTAINERD=1.0.0-beta.0
export KWM_VERSION_KUBE_ROUTER=0.0.19
